body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #666699;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.rps {
    flex: auto;
}

.scores {
    display: inline-flex;

}

button {
    margin: 25px;
}

h3 {
    margin: 25px;
}